*{
    margin: 0;
    padding: 0;
}
/* Font Style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.btn{
    padding: 13px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
}

/* nav-bar style */
nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 16px 120px;
    align-items: center;
    gap: 346px;
}
nav .nav-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
}
nav .nav-menu ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
