*{
    margin: 0;
    padding: 0;
}
/* Font Style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.btn{
    padding: 13px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
}

p{
    font-size: 16px;
    font-weight: 400px;
    color: #627362;
}

/* nav-bar style */
nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 16px 120px;
    align-items: center;
    gap: 346px;
}
nav .nav-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
}
nav .nav-menu ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

/* banner style */
.banner{
    width: 100%;
    height: 675px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .banner-container{
    padding: 116px 120px 180px 120px;
    text-align: center;
}

.banner-container .early{
    background-color: #FFFFFF;
    margin: 0 720px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    padding: 8px 12px ;
    border-radius: 1000px;
    margin-bottom: 16px;
}

.dott{
  width: 10px;
  height: 10px;
  background-color: #469165;
  border-radius: 24px;
  display: inline-block;
}

.banner-container h1{
    font-size: 84px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.banner-container h1 .not{
    color: #30B868;
}

.banner-container p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.banner-container button{
    align-items: center;
    text-align: center;
    display: inline-flex;
    gap: 10px;
}
.play img{
    height: 20px;
    width: 20px;
    color: #FFFFFF;
    background: transparent;

}
.play{
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 16px;
}

