*{
    margin: 0;
    padding: 0;
}
/* Font Style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.btn{
    padding: 13px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
}
/* nav-bar style */
nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 16px 120px;
    align-items: center;
    gap: 346px;
}
nav .nav-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
}
nav .nav-menu ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

/* banner style */
.banner{
    width: 100%;
    height: 675px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .banner-container{
    padding: 116px 120px 180px 120px;
    text-align: center;
}

.banner-container .early{
    background-color: #FFFFFF;
    margin: 0 720px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    padding: 8px 12px ;
    border-radius: 1000px;
    margin-bottom: 16px;
}

.dott{
  width: 10px;
  height: 10px;
  background-color: #469165;
  border-radius: 24px;
  display: inline-block;
}

.banner-container h1{
    font-size: 84px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.banner-container h1 .not{
    color: #30B868;
}

.banner-container p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.banner-container button{
    align-items: center;
    display: inline-flex;
    gap: 10px;
}
.play img{
    height: 20px;
    width: 20px;
    color: #FFFFFF;
    background: transparent;

}
.play{
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 16px;
}

/* note section style */
.note-container{
    padding: 0 120px;
    text-align: center;
}
.note-container h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.note-container p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 44px;
}
.note-container .note-card{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.note-container .note-card .card{
    padding: 70px 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.note-container .note-card .card img{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: #F95555;
    padding: 14px;
    margin-bottom: 16px;
}

.note-container .note-card .card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.note-container .note-card .card p{
    margin-bottom: 0;
}

/* brain section style */
.brain-container{
    display: flex;
    align-items: center;
    padding: 120px;
    gap: 60px;
}

.brain-container img{
    border-radius: 12px;
}

.brain-container .brain-info .solution{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}

.brain-container .brain-info h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.brain-container .brain-info .description{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
}

.check{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
}

.check img{
    width: 18px;
    height: 18px;
}

/* challenge section style */
.challenge{
    padding: 0 120px 120px 120px;
}

.challenge-container{
    background-color: #F7F6F2;
    padding: 80px 40px;
    text-align: center;
}
.challenge-container h1{
    font-size: 42px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.challenge-container .join{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.challenge-container button{
    align-items: center;
    display: inline-flex;
    gap: 10px;
    margin-bottom: 16px;
}

.challenge-container .free{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

/* footer section style */
footer{
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}

.footer-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-logos p{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-logos{
    display: flex;
    gap: 16px;
}
.social-logos img{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: #FFFFFF;
    padding: 4px;
}
hr{
    border: none;
    height: 2px;
    background-color: gray;
    margin-bottom: 30px;
}

.copy-right{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}